* {
  font-family: "Red Hat Display", sans-serif;
}

.background {
  background: url(./imgs/pattern-background-desktop.svg);
  background-color: hsl(225, 100%, 94%);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 380px;
  height: 600px;
  background-color: #fff;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
}

.illustracao {
  width: 380px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

.conteudo h1 {
  font-weight: 900;
  text-align: center;
  font-size: 26px;
  color: hsl(223, 47%, 23%);
  margin-top: 45px;
}

.paragrafo {
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  line-height: 28px;
  text-align: center;
  padding: 20px;
}

.container_pedido {
  width: 280px;
  height: 80px;
  background-color: hsla(225, 100%, 94%, 0.388);
  border-radius: 15px;
  margin: auto;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.plano {
  font-weight: 700;
  color: hsl(223, 47%, 23%);
  height: 23px;
  margin-bottom: 5px;
}

.icon_music {
  width: 40px;
  padding-right: 23px;
  padding-left: 23px;
}

.valor {
  color: hsl(224, 23%, 55%);
  height: 23px;
}

.btn_charge {
  font-size: 14px;
  font-weight: 700;
  height: 23px;
  margin-left: 40px;
  color: hsl(245, 75%, 52%);
}

.btn_confirma_plano {
  font-weight: 700;
  color: hsl(225, 100%, 94%);
  font-size: 14px;
  width: 304px;
  height: 40px;
  background-color: hsl(245, 75%, 52%);
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  margin: auto;
  margin-top: 35px;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.257);
  cursor: pointer;
}

.btn_cancel {
  color: hsl(224, 23%, 55%);
  font-size: 14px;
  font-weight: 700;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
